[submodule "Public/Inflections"]
	path = Public/Inflections
	url = git://github.com/adamelliot/Inflections.git
[submodule "Public/RegexKitLite"]
	path = Public/RegexKitLite
	url = git://github.com/wezm/RegexKitLite.git
[submodule "Public/CoreDataLocalization"]
	path = Public/CoreDataLocalization
	url = git@github.com:cspicker/Core-Data-Localization.git
